@font-face {
    font-family: 'proximanova';
    src: url('resources/font/proximanova-regular.otf');
    src: url('resources/font/proximanova-black.otf'),
    url('resources/font/proximanova-blackit.otf'),
        
}

.slideshow-container {
    max-width: 1900px;
    height: 550px;
    position: relative;
    margin: auto;
    object-fit: cover;
  }
  
  
  /* On hover, add a black background color with a little bit see-through */
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  .nonscaling {
    transform-origin: 0 0;
    width: fit-content;
  }
  
  
  /* scaling media queries */
  
  
  /* 1. scale and layout setting at 100% */
  @media (resolution: 1dppx) {
    .scale::after {
      content: '100%';
    }
  }
  
  
  /* 2. scale and layout setting at 125% */
  @media (resolution: 1.25dppx) {
    .nonscaling {
      /* offset the scaling */
      /* factor = 100/125 percent */
      transform: scale(0.80);
    }
  }
  
  
  /* 3. scale and layout setting at 150% */
  @media (resolution: 1.5dppx) {
    .scale::after {
      content: '150%';
    }
    .nonscaling {
      transform: scale(0.6666);
    }
  }
  
  
  /* 4. scale and layout setting at 175% */
  @media (resolution: 1.75dppx) {
    .scale::after {
      content: '175%';
    }
    .nonscaling {
      transform: scale(0.5714);
    }
  }